<?xml version="1.0" encoding="utf-8"?>

<libraries>
  <library path="PeripheralLibraries/TestDevices">
    
    <instance name="RandomDevice"></instance>
    
    <instance name="RandomScannerDevice"></instance>
    
    <instance name="RandomDeviceWithParameters">
      <attribut type="string" name="stringValue">StringTest</attribut>
      <attribut type="int" name="intValue">7357</attribut>
      <attribut type="bool" name="boolValue">True</attribut>
    </instance>
    
    <instance name="DeviceWithMethodParameter"></instance>

    <instance name="AwesomeObject"></instance>

    <instance name="BarCodePOC">
	<attribut type="string" name="port">/dev/ttyACM1</attribut>
    </instance>
    
  </library>
</libraries>
