<?xml version="1.0" encoding="utf-8"?>

<libraries>
<!--
  <library name="InterfaceDLL">
    <instance>BarCode</instance>
  </library>
  <library name="awesome">
    <instance>TestObject</instance>
    <instance>ITest</instance>
  </library>


  <library name="BarCodeLib">
    <instance>BarCode</instance>
  </library>
-->

  <!-- TODO: add properties/attributes for objects -->
  <library path="../PeripheralLibraries/TestDevices">
    <instance>RandomDevice</instance>
    <instance>RandomScannerDevice</instance>
    <instance>RandomCalculatorDevice</instance>
  </library>
  
  
  <library path="../PeripheralLibraries/IScanner">
    <instance>ScannerDevice</instance>
  </library>

</libraries>