<?xml version="1.0" encoding="utf-8"?>

<libraries>
<!--
  <library name="InterfaceDLL">
    <instance>BarCode</instance>
  </library>
  <library name="awesome">
    <instance>TestObject</instance>
    <instance>ITest</instance>
  </library>


  <library name="BarCodeLib">
    <instance>BarCode</instance>
  </library>
-->

  <!-- TODO: add properties/attributes for objects -->
  <!--
  <library path="../PeripheralLibraries/TestDevices">
    <instance>RandomDevice</instance>
    <instance>RandomScannerDevice</instance>
    <instance>RandomCalculatorDevice</instance>
  </library>
  -->
  <!-- 
      <attribut type="string" name="port">COM5</attribut>
    Path edit for test purpose only -->

  
  <!-- C:/Users/Jacques/source/repos/PashmiDev/ProjetS4/TestDevices/bin/Debug/netcoreapp3.1/TestDevices
  ../TestDevices/bin/Debug/netcoreapp3.1/TestDevices-->
  <library path="PeripheralLibraries/TestDevices">
    <instance name="RandomDevice">
    </instance>
    <instance name="RandomScannerDevice">
    </instance>
    <instance name="RandomDeviceWithParameters">
      <attribut type="string" name="stringValue">StringTest</attribut>
      <attribut type="int" name="intValue">7357</attribut>
      <attribut type="bool" name="boolValue">True</attribut>
    </instance>
    <instance name="BarCodePOC">
      <attribut type="string" name="port">/dev/ttyACM1</attribut>
    </instance> 
    
    <instance name="DeviceWithMethodParameter">
    </instance>

    <instance name="AwesomeObject"></instance>
  </library>
  
  
  
     
 <!-- <library path="../PeripheralLibraries/IScanner">
    <instance>ScannerDevice</instance>
  </library>-->

</libraries>