body {
    background-color: #D3F4FF;
}

.borne {
    margin-left: 32.5%;
    width: 524px;
    height: 700px;
}

#displayZone {
    background-color: #FFFFFF;
    height: 78px;
    min-height: 78px;
    max-height: 78px;
    overflow: auto;
    width: 280px;
    font-size: 11px;
}
